{% extends 'base.html' %}
{% block title %}
  Рабочая среда
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-lg-9 col-md-12 py-3">
    <h2>Последние отклики</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Дата отклика</th>
          <th scope="col">Имя</th>
          <th scope="col">Фамилия</th>
          <th scope="col">email</th>
          <th scope="col">Вакансия</th>
        </tr>
      </thead>
      <tbody>
        {% for candidate in candidates %}
          <tr>
            <td>{{ candidate.created.strftime('%Y-%m-%d %H:%M') }}</td>
            <td>{{ candidate.first_name }}</td>
            <td>{{ candidate.last_name }}</td>
            <td>{{ candidate.email }}</td>
            <td><a href="{{ url_for('vacancy_detail', category=candidate.vacancy.category.slug, vacancy=candidate.vacancy.slug) }}">{{ candidate.vacancy.name }}</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-lg-3 col-md-12 py-3">
    <h2>Направления</h2>
    <a class="btn btn-primary my-3 me-4" href="{{ url_for('category_add') }}">Добавить</a>
      <div class="row">
        {% for category in categories %}
          <div class="col-lg-12 col-md-4 ">
            <p class="mb-0"><a href="{{ url_for('category_detail', category=category.slug) }}" class="text-decoration-none fs-5">{{ category.name }}</a></p>
            <p class="mb-2">
              {% if category.vacancies.count() > 0 %}
              <span class="pe-2">Вакансий: {{ category.vacancies.count() }}</span>
              {% if category.vacancies_quantity %}
                <span>Мест: {{ category.vacancies_quantity }}</span>
              {% endif %}
            {% endif %}
            </p>
          </div>
        {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
