{% extends 'base.html' %}
{% block title %}
  {{ vacancy.name }}
{% endblock %}
{% block content %}
  <a href="{{ url_for('category_detail', category=category_url) }}" class="text-decoration-none fs-5 fw-bold">{{ category.name }}</a>
  <h1>{{ vacancy.name }}</h1>
  <div class="py-2">
    {% if vacancy.quantity > 0 and current_user.is_anonymous %}
      <a href="{{ url_for('vacancy_respond', category=category_url, vacancy=vacancy_url) }}" class="btn btn-primary me-4">Откликнуться</a>
    {% endif %}
    {% if current_user.is_authenticated %}
      <a class="btn btn-primary me-4" href="{{ url_for('vacancy_edit', category=category_url, vacancy=vacancy_url) }}">Редактировать</a>
    {% endif %}
    {% if vacancy.candidates.count() > 0 %}
      <span class="text-secondary">Откликов: <span class="fw-bold">{{ vacancy.candidates.count() }}</span></span>
    {% endif %}
  </div>
  {% include 'board/includes/vacancy.html' %}
{% endblock %}
