{% extends 'base.html' %}
{% block title %}
  Откликнуться на вакансию
{% endblock %}
{% block content %}
<div class="row">
  <a href="{{ url_for('category_detail', category=category_url) }}" class="text-decoration-none fs-5 fw-bold">{{ category.name }}</a>
  <a href="{{ url_for('vacancy_detail', category=category_url, vacancy=vacancy_url) }}" class="text-decoration-none"><h1>{{ vacancy.name }}</h1></a>
  <h4 class="pb-4 py-3">
    Откликнуться на вакансию
  </h4>
  <div class="col-lg-6 col-md-12 py-3">
    <form action="" method="post" novalidate>
      <div class="row">
        {% for item in form %}
          <div class="{% if item.id in ['first_name', 'last_name', 'email', 'telegram'] %}col-6{% endif %}">
            {{ item(class_='form-control') }}
            {% if item.id not in ['csrf_token', 'id'] %}
              {{ item.label(class_='form-text pb-4') }}
            {% endif %}
            {% if item.errors %}
              <div class="alert alert-danger">
                {% for error in item.errors %}
                  <p class="p-0 m-0">{{ error }}</p>
                {% endfor %}
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
      <button class="btn btn-primary" type="submit">
        Отправить
      </button>
    </form>
  </div>
  <div class="col-lg-6 col-md-12 text-muted">
    {% include 'board/includes/vacancy.html' %}
  </div>
</div>
{% endblock %}
