{% extends 'base.html' %}
{% block title %}
  {{ vacancy.name }}
{% endblock %}
{% block content %}
  <h1>{{ vacancy.name }}</h1>
  {% if current_user.is_authenticated %}
    <a href="{{ url_for('vacancy_edit', category=category_url, vacancy=vacancy_url) }}">Редактировать</a>
  {% endif %}
  <h2><a href="{{ url_for('category_detail', category=category_url) }}">{{ category.name }}</a></h2>
  <p>{{ vacancy.description|brline|safe }}</p>
  <p>{{ vacancy.requirements|brline|safe }}</p>
  <div>{{ vacancy.count }}</div>
  <div>{{ vacancy.min_exp }}</div>
  <div>{{ vacancy.max_exp }}</div>
  <div>{{ vacancy.min_salary }}</div>
  <div>{{ vacancy.max_salary }}</div>
{% endblock %}
