{% extends 'base.html' %}
{% block title %}
  Вход на сайт
{% endblock %}
{% block content %}
  <h1>Вход на сайт</h1>
  <form action="/login" method="post" class="login-form">
    <div class="col-3">
      <label for="email"></label>
      <div class="mb-3">
        <input class="form-control" type="text" name="email" value="" required>
        <div class="form-text">email</div>
      </div>
      <div class="mb-3">
        <input class="form-control" type="password" name="password" value="" required>
        <div class="form-text">password</div>
      </div>
      {% for category, message in get_flashed_messages(True) %}
        <p class="alert alert-danger {{ category }}">{{ message }}</p>
      {% endfor %}
      <button class="btn btn-primary" type="sumbit">Вход</button>
    </div>
  </form>
{% endblock %}
