<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div class="container-fluid bg-primary">
      <div class="container">
        <div class="row py-4">
          <div class="col-4 col-lg-3">
            <a href="{{ url_for('index') }}" class="text-decoration-none"><h1 class="logo fw-bold text-white">Job Board</h1></a>
          </div>
          <div class="col-4 col-lg-6 d-flex align-items-center">
            <input type="search" class="form-control" placeholder="Поиск вакансий">
          </div>
          <div class="col-4 col-lg-3 d-flex align-items-center flex-row-reverse text-white">
            {% if current_user.is_anonymous %}
              <a href="{{ url_for('login') }}" class="fw-bold text-white text-decoration-none">Вход для персонала</a>
            {% else %}
              <a href="{{ url_for('logout') }}" class="fw-bold text-white text-decoration-none">выход</a>
              <a href="{{ url_for('workspace.index') }}" class="text-white pe-3">
                {{ current_user.first_name }}
                {{ current_user.last_name }}
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="container main-content py-4">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
