<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div class="container">
      <div>
        {% if current_user.is_anonymous %}
          <a href="{{ url_for('login') }}">sign in</a>
        {% else %}
          {{ current_user.first_name }}
          {{ current_user.last_name }}
          <a href="{{ url_for('logout') }}">logout</a>
        {% endif %}
      </div>
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
