{% extends 'base.html' %}
{% block title %}
Вход на сайт
{% endblock %}
{% block content %}
<h1>Вход на сайт</h1>
<form action="" method="post" novalidate>
  <div class="col-3">
    {{ form.hidden_tag() }}
    <div class="mb-3">
      {{ form.email(class_='form-control', value=get_flashed_messages(category_filter=['email'])[0]) }}
      {{ form.email.label(class_='form-text') }}
      {% for error in form.email.errors %}
        <p class="alert alert-danger">{{ error }}</p>
      {% endfor %}
    </div>
    <div class="mb-3">
      {{ form.password(class_='form-control') }}
      {{ form.password.label(class_='form-text')  }}
      {% for error in form.password.errors %}
        <p class="alert alert-danger">{{ error }}</p>
      {% endfor %}
    </div>
    <p>{{ form.submit(class_='btn btn-primary') }}</p>
    {% for category, message in get_flashed_messages(True) %}
      {% if category == 'user' %}
        <p class="alert alert-danger {{ category }}">{{ message }}</p>
      {% endif %}
    {% endfor %}
  </div>
</form>
{% endblock %}
